%h1 Los Angeles County
-require 'net/http'
-mmonth_s = params['trfile'][0..6]
%a(href='/counties/listem') Counties -> 
%a(href='/counties/los_angeles') Los Angeles -> 
%a(href="/counties/los_angeles_m/#{mmonth_s}") Los Angeles #{mmonth_s} -> 
Los Angeles #{params["trfile"]}

%p An HTML File of Some Tentative Rulings from a Department for a Specific Day of Court Hearings:

-html_s = "https://jffjorg.github.io/lacourt/htmls/#{params["trfile"]}.html"
%a(target="po" href=html_s) #{params["trfile"]}.html

%p The above HTML file should contain 0 or more Tentative Rulings.

%p Some Plain Text [via Python "BeautifulSoup"] From Some of Those Rulings Might Be Linked Below:

%table
  -@txt_f_s_a[..-2].each do |txt_f_s|
    %tr
      %td
        %a(target='t13' href="https://jffjorg.github.io/lacourt/text/#{params['trfile']}/#{txt_f_s[-19..]}") #{txt_f_s[-19..]}
      %td .|.
      %td
        - summ_f_s = txt_f_s.sub('tent_ruling','summary')[-15..]
        - hhref = "https://jffjorg.github.io/lacourt/text/#{params['trfile']}/#{summ_f_s}".chomp
        - uri = URI(hhref)
        - if Net::HTTP.get(uri).include?("404")
          No Summary
        - else
          %a(target='t13' href=hhref) #{summ_f_s}
      %td .|.
      %td
        -suffix_s = hhref.sub('https://jffjorg.github.io/lacourt/text/','').sub('/summ','_summ').sub('.txt','')
        %a(target='t14' href="/counties/los_angeles_summ_if/#{suffix_s}") #{summ_f_s}


%p Also, 
%a(target="po" href=html_s) #{params["trfile"]}.html
is displayed to you from an iframe:
%iframe(src=html_s width="100%" height="900px")

